* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Fira Code, monospace;
  font-size: 1rem;
  color: #100f1b;
}

.product__container {
  text-align: center;
}

.cosmetic {
  padding: 1rem;
  border: 1px solid teal;
  border-radius: .5rem;
  margin: 1rem;
}

.cosmetic__id {
  display: block;
}

.button {
  display: inline-block;
  padding: .625rem 1.5rem;
  border: 1px solid mediumpurple;
  background-color: #fff;
  color: mediumpurple;
  font-family: Fira Code, monospace;
  font-size: 1rem;
  border-radius: .5rem;
  margin-top: 1rem;
  margin-left: .5rem;
  cursor: pointer;
}

.button:active {
  background-color: mediumpurple;
  color: #fff;
}