* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Fira Code;
  font-size: 1rem;
  color: #070420;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.person,
.product {
  border: 1px solid #afffaf;
  border-radius: .4rem;
  padding: 1.5rem;
}

.person__img,
.product__img {
  display: block;
  width: 180px;
  margin: auto;
}

.person__title,
.product__name {
  font-size: 1.5rem;
  font-weight: 600;
}

.person__role,
.product__price {
  font-size: .875rem;
  color: #646464;
  font-weight: 500;
}

.btn {
  padding: .625rem 1.5rem;
  font-family: Fira Code;
  font-size: 1rem;
  border-radius: .4rem;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: .5rem;
}