* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Fira Code;
  font-size: 1rem;
  color: #070420;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.person,
.product {
  border: 1px solid #afffaf;
  border-radius: 0.4rem;
  padding: 1.5rem;
}

.person__img,
.product__img {
  display: block;
  width: 180px;
  margin: auto;
}

.person__title,
.product__name {
  font-size: 1.5rem;
  font-weight: 600;
}

.person__role,
.product__price {
  font-size: 0.875rem;
  color: #646464;
  font-weight: 500;
}

.btn {
  padding: 0.625rem 1.5rem;
  font-family: Fira Code;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

/* Header Design */
.header {
  width: 100%;
  box-shadow: 0 1px 6px rgb(90 90 90 / 12%);
}

.nav__logo {
  font-size: 1.5rem;
  color: hsl(125deg 46% 66%);
}

.nav {
  max-width: 960px;
  margin: 0 auto;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
